<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PA.Converters" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.7.4.0" newVersion="4.7.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Configuration" publicKeyToken="efe7f84d28b0579c" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-4.7.4.0" newVersion="4.7.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Plugin" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.7.4.0" newVersion="4.7.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.TileList" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Plugin.Operations" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.7.4.0" newVersion="4.7.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.TileList.Extensions" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="PA.Utilities" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.4.0" newVersion="6.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="INIFileParser" publicKeyToken="79af7b307b65cf3c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Utilities.AssemblyMetadata" publicKeyToken="efe7f84d28b0579c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
